@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #5c0091;
  --foreground: #f7d200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f508;
    --foreground: #cf06f7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}